<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="custom-keyboard">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-row-1 {
      margin-bottom: 10px;
    }
    polyfill-next-selector { content: '.card-row-1 paper_button1'; }
	.card-row-1 ::content paper_button1 {
	  margin: 0;
	  font-size: 1.8rem;
	  font-weight: 300;
	  width: 70px;
	}
	 polyfill-next-selector { content: '.card-row-1 paper_button2'; }
	.card-row-1 ::content paper_button2 {
	  margin-left: 70px;
	  font-size: 1.8rem;
	  font-weight: 300;
	  width: 70px;
	}
	 polyfill-next-selector { content: '.card-row-1 paper_button3'; }
	.card-row-1 ::content paper_button3 {
	  margin-left: 140px;
	  font-size: 1.8rem;
	  font-weight: 300;
	  width: 70px;
	}
	core-icon-button {
	  position: absolute;
	  top: 3px;
	  right: 3px;
	  color: #636363;
	}
	:host([favorite]) core-icon-button {
	  color: #da4336;
	}
    </style>

	
	<content></content>
    <!-- CARD CONTENTS GO HERE -->
    <div class="card-row-1" layout horizontal center>
		  <paper-button  on-tap="{{favoriteTapped}}" value="1" id="paper_button1" disabled?="{{ voted }}">1</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="2" id="paper_button2" disabled?="{{ voted }}">2</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="3" id="paper_button3" disabled?="{{ voted }}">3</paper-button>
	</div>
	 <div class="card-row-1" layout horizontal center>
		  <paper-button   on-tap="{{favoriteTapped}}" value="4" id="paper_button4" disabled?="{{ voted }}">4</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="5" id="paper_button5" disabled?="{{ voted }}">5</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="6" id="paper_button6" disabled?="{{ voted }}">6</paper-button>
	</div>
	 <div class="card-row-1" layout horizontal center>
		  <paper-button   on-tap="{{favoriteTapped}}" value="7" id="paper_button7" disabled?="{{ voted }}">7</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="8" id="paper_button8" disabled?="{{ voted }}">8</paper-button>
		  <paper-button   on-tap="{{favoriteTapped}}" value="9" id="paper_button9" disabled?="{{ voted }}">9</paper-button>
	</div>
		
  </template>
  <script>

  Polymer({
  publish: {
    reponse: {
      value: -1,
      reflect: true
    }
  },
  voted: false,
  favoriteTapped: function(event, detail, sender) {
    this.reponse = event.target.getAttribute('value');
    this.fire('favorite-tap');
    this.voted = true;
  }
});

  </script>
    
</polymer-element>