body {
    background:url(/images/intech_slide1.png) no-repeat fixed 50% 50%;
    /*background-size: 50% 50%;*/
    width:100%;
    height:100%;
}

.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  
/*position:absolute;*/
  /*opacity:1;*/
}

/*
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  opacity:0;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  opacity:1;
}
*/

md-whiteframe {
  background-color:white;
}

.animate-switch {
       /* position:absolute;*/
}

.animate-switch.ng-enter.ng-enter-active, .animate-switch.ng-leave.ng-leave-active {
    
}

.animate-switch.ng-enter {
-webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  opacity:0;
  
  
}

.animate-switch.ng-enter.ng-enter-active {
  opacity:1;
  
}

.animate-switch.ng-leave {
  opacity:1;
  
}

.animate-switch.ng-leave.ng-leave-active {
  opacity:0;
  
}