<div class="jumbotron">
  <div class="container">
    {{currentQuestion.question}}
  </div>
</div>

  <div class="container" style="opacity: 0.9;" ng-show="showRep">
	  <ul class="list-group">
		  <li class="list-group-item" ng-repeat="answer in currentQuestion.answers">{{ $index+1 }} : {{answer}}</li>
	</ul>
  </div>

<br />

<br />

<section layout="row" layout-sm="column" layout-align="center center">
		<md-button class="md-raised md-primary" ng-click="next()">Next question</md-button>
	  <md-button class="md-raised md-primary" ng-click="push()">push</md-button>
	  	  <md-button class="md-raised md-primary" ng-click="reset()">Reset</md-button>
      <md-button class="md-raised md-primary" ng-click="showme=true">Show graph</md-button>
	  <md-button class="md-raised md-primary" ng-click="showme=false">hide graph</md-button>

	      <md-input-container flex>
          <label>Question</label>
          <input ng-model="goToQuestion">
        </md-input-container>
			  <md-button class="md-raised md-primary" ng-click="goTo()">go</md-button>

      <div class="label">Raised</div>
    </section>

  <div  ng-show="showme" >
<highchart id="chart1" config="chartConfig" ></highchart>
</div>
