<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>ADMIN</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

</head>
<!-- SET THE CONTROLLER -->
<body ng-app="app">

<div id="container"  ng-controller="MainController">
</div>


<script type="text/javascript" src="js/lib/jquery/jquery-2.0.3.min.js"></script>


<!-- SPELLS -->
<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>


<script type="text/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="js/lib/jstorage/jstorage.min.js"></script>


<script src="js/core.js"></script>

<script src="js/controllers/mainCtrl.js"></script>
<script src="js/controllers/configCtrl.js"></script>

<script src="js/services/services.js"></script>

<script src="/socket.io/socket.io.js"></script>

<div class="text-center">
    <div class="btn-group" role="group" aria-label="First group">
        <button id="next" type="button" class="btn btn-default">NEXT QUESTION</button>
    </div>
    <br />
</div>

<script>
    var socket = io();

    $('#next').on('click', function(){
        socket.emit('next');
    });
</script>



</body>
</html>
