<div class="jumbotron">
  <div class="container">
    {{currentQuestion.question}}
  </div>
</div>

<div style="width:100%;height:80%"  layout="column"  layout-align="center center" ng-controller="ReponseCtrl">
  <center>
    <div class="container" id="framecolor" ng-switch="voted" style="width:100%;margin:0 auto;">
           <div class="container row animate-switch"  style="width:270px" ng-switch-when="false">    
                  <div class='col-xs-4' ng-repeat="n in currentQuestion.answers">
                    <md-button class="md-fab md-primary" ng-click="vote($index+1)">{{ $index+1 }} </md-button>
                 </div>
           
           </div>
           <div class="animate-switch" ng-switch-when="true" >
               <img  src="/images/voted.png" style="width:320px" />
          </div>
    </div>
    </center>
 
</div>



              